.product-wrapper {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 20px;
}

.card {
	width: 20rem;
	box-shadow: 0 0 7px 4px #ede9e9;
	padding: 1rem;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.card:hover {
	transform: translateY(-0.5rem);
}

.product-img {
	text-align: center;
}

.product-img img {
	width: 200px;
}

.price {
	font-weight: 600;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.action-btn {
	text-align: center;
}
